@import '../../styles/contants.scss';

.wrapper {
    overflow: hidden;


    .container {
        position: relative;
        z-index: 1;

        .upperElements {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width: $sm) {
                justify-content: center;
                text-align: center;
                gap: 2rem;
            }
           
        }


        .lowerElements {
            margin-top: 12rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media (max-width: $sm), (max-width: $md) {
                margin-top: 4rem;
                gap: 2rem;
                justify-content: center;
            }
           
            .experience {
                display: flex;
                align-items: center;
                gap: 1rem;
                >:nth-child(2) {
                    line-height: 25px;
                }
            }

            .certificate {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    margin-bottom: 1rem;
                    width: 3.5rem;
                }
            }
        }

        .person {
            
            bottom: -2rem;
            margin: auto;
            position: absolute;
            left: 33%;
            background-image: url("../splash.png");
            background-repeat: no-repeat;
            background-size: 23rem;
            background-position: bottom;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $md) {
                position: absolute;
                left: 33%;  
            }
    
            @media (max-width: $sm) {
                position: relative;
                left: 0%;
                bottom: 1%;
            }
        
            img {
                width: 100%; 
                height: auto; 
                max-width: 23rem; 
                margin-bottom: -5px;
        
                @media (max-width: $md) {
                    max-width: 20rem; 
                }
        
                @media (max-width: $sm) {
                    max-width: 18rem;
                }
            }
        }
        

        .email {
            position: absolute;
            top: 50%;
            left: 0;
            color: orange;
            @media (max-width: $sm ) {
                position: relative;
                display: none;
            }
           
        }
    }
}